<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="cdm" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python27\python27.exe|c:\python27\lib\site-packages\wfastcgi.pyc" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
